<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body>
<div>
    <p th:text="${pcGame.title}"></p>
    <p th:text="${pcGame.producer}"></p>
    <p th:text="${pcGame.genre}"></p>
    <p th:text="${pcGame.minimumAge}"></p>
    <p th:text="${pcGame.isAAA}"></p>


</div>

</body>
</html>